body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
    width: 100%;
    position: relative;
}

.center {
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    width: 60%;
    text-align: center;
}